{
  "name": "{{marketplaceName}}",
  "interface": {
    "displayName": "{{displayName}} Marketplace"
  },
  "plugins": [
    {
      "name": "{{name}}",
      "source": {
        "source": "local",
        "path": "."
      },
      "policy": {
        "installation": "AVAILABLE",
        "authentication": "ON_INSTALL"
      },
      "category": "Productivity"
    }
  ]
}
