{
  "name": "{{marketplaceName}}",
  "owner": {
    "name": "{{author.name}}",
    "email": "{{author.email}}"
  },
  "metadata": {
    "description": "{{description}}"
  },
  "plugins": [
    {
      "name": "{{name}}",
      "source": "./",
      "description": "{{description}}"
    }
  ]
}
